@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
  background-image: url("assets/Rectangle.svg");
}

/* div.navbar {
  width: 83.194%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.textNavbar {
  font-style: normal;
  font-weight: 700;
  font-size: 37.8667px;
  line-height: 57px;
  color: #ffffff;
}
.rightNavbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rightNavbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 64px;
  transition: all 0.5s;
}

.rightNavbar a:hover {
  background-color: #ffffff;
  color: black;
  border: 1px solid #ffffff;
  border-radius: 8px;
} */
#nav {
  margin-top: 50px;
}

.nav_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navlist {

  list-style: none;
  display: flex;
  gap: 50px;
}

#navlist li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}

#hamburger {
  display: none;
}

.hero,
.logos,
.mid_txt,
.details,
.start,
.fasttravel , #nav {
  padding: 0px 122px;
}

.hero {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
  gap: 122px;
  height: 100%;
}

.hro_title {
  font-size: 96px;
  font-weight: bold;
  line-height: 113%;
  margin: 0px 0px 30px 0px;
}

.hro_b_t {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  margin: 0px;
  width: 70%;
}

.h_c_t {
  margin-bottom: 70px;
}

.h_btns {
  display: flex;
  gap: 50px;
}

.started_btn {
  padding: 12px 24px;
  background-color: rgb(255, 255, 255);
}

.learn_btn {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.logos {
  display: flex;
  align-items: center;
  gap: 95px;
  justify-content: center;
  margin-bottom: 217px;
}



@media (max-width: 1100px) {
    
  #navlist {
      position: fixed;
      left: -100%;
      top: 110px;
      gap: 10px;
      flex-direction: column;
      width: 100%;
      background-color: #f0f0f0;
      text-align: center;
      transition: 0.3s;
      padding: 30px 0px;
      color: #000000;
  }

  #navlist.active {
      left: 0;

  }

  #hamburger {
      display: block;
  }


  #menuItem {
      margin: 16px 0px;
      cursor: pointer;
      line-height: 60px;
  }
  #menuItem a{
      color: #000000;
  }
}